.apperview {
  width: 100%;
  /* padding: 20px 15px; */
  /*   display: flex; */
  background: #37474f;
  color: white;
  /*   height: 20px; */
}

.logo {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  padding-right: 10px;
}

.button {
  background-color: Transparent; /* Green */
  border: none;
  color: white;
  /*   padding: 15px 32px; */
  text-align: center;
  /*   display: inline-block; */
  font-size: 16px;
}

.siteName {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 55px;
  padding-right: 25px;
}

.shareName {
  font-size: 55px;
  padding-left: 10px;
}

.card {
  max-width: 200px;
  min-width: 200px;
  padding: 20px 15px;
  height: auto;
  /*   display: flex;
   justify-content: space-around;
  flex-flow: row-wrap;
   padding: 0;
  margin: 0; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-flow: row-wrap;
  padding: 0;
  margin: 0;
}

.image {
  min-height: 150px;
  max-height: 150px;
}
